.header{
  z-index: 100;
  position:fixed;
  top:0;
  right:0;
  left:0;
  padding:0 20px;
  background-color: yellow;
  text-align: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks{
  display: flex;
  gap:20px;
  list-style: none;
  color:red;
  justify-content: space-evenly;
  padding:0;
}

.footer{
  text-align: center;
  background-color: #eee;
  position: fixed ;
  bottom: 0;
  left: 0;
  right:0;
}
