.header{
  z-index: 100;
  position:fixed;
  top:0;
  right:0;
  left:0;
  padding:0 20px;
  background-color: yellow;
  text-align: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav{
  width:100%;
  background-color: aqua;
  margin-bottom: 10px;
}
.navlinks{
  display: flex;
  justify-content: flex-start;
  gap:20px;
  color:red;
}
.a{
  color:black;
  text-decoration: none;
}
.a:hover{
  color: blue;
}

.footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  background-color: #eee;
}